.header {
    color: white;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-space {
    width: 100%;
    height: 130px;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Century Gothic",sans-serif;
}
.title {
    width: 70%;
    height: 30px;
    margin-top: 30px;
}
.title a {
    text-decoration: none;
    color: black;
}
.title span {
    color: #7c7873;
}

.page-title {
    color: #84bd00;
    width: 70%;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorting-options {
    width: 70%;
    height: 40px;
    margin-top: 10px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.sorting-options span {
    margin-left: 15px;
}
.sorting-options select {
    background-color: #fafafa;
    border: none;
}

.product-cards {
    width: 70%;
    margin-top: 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row wrap;
}
.product-cards .product-card {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    width: 23%;
    height: 420px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-cards .product-card .product-image {
    width: 90%;
    height: 250px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.product-cards .product-card .product-image img{
    width: 100%;
    height: 100%;
    transition: all linear 0.5s;
}
.product-cards .product-card .product-image img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.product-cards .product-card .product-image:hover img {
    opacity: 0;
}
.product-cards .product-card .product-image:hover img.hover-img {
    opacity: 1;
    transform: scale(1.2);
}


.product-cards .product-card .product-image .offer {
    width: 60px;
    height: 15px;
    font-size: 15px;
    color: #ffff;
    background-color: #fd8a99;
}
.product-cards .product-card .product-image .sold-out {
    width: 35px;
    height: 15px;
    font-size: 15px;
    color: #ffff;
    background-color: #046a38;
}

.product-cards .product-card .product-title {
    margin-top: 20px;
    width: 90%;
    height: 40px;
}
.product-cards .product-card .MRP {
    width: 90%;
    height: 30px;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.product-cards .product-card .MRP s {
    opacity: 0.7;
}
.product-cards .product-card .rating-stars {
    width: 90%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rating-stars > input{
    display:none;
}
.rating-stars > label {
   position: relative;
   width: 1.1em;
   font-size: 22px;
   color: black;
   cursor: pointer;
}
.rating-stars > label::before{
   content: "\2605";
   position: absolute;
   opacity: 0;
}
.rating-stars > label:hover:before,
.rating-stars > label:hover ~ label:before {
   opacity: 1 !important;
}
.rating-stars > input:checked ~ label:before{
   opacity:1;
}
.rating-stars:hover > input:checked ~ label:before{ 
   opacity: 0.4;
}

.product-cards .product-card .add-to-cart {
    width: 90%;
    margin-top: 15px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #046a38;
}
.product-cards .product-card .add-to-cart:hover {
    opacity: 0.8;
}
.product-cards .product-card .add-to-cart a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.product-cards .product-card .sold-out-btn {
    width: 90%;
    margin-top: 15px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #919697;
}
.product-cards .product-card .sold-out-btn:hover {
    opacity: 0.8;
}
.product-cards .product-card .sold-out-btn a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.webpage-text {
    margin-top: 10px;
    width: 80%;
}
.webpage-text .green {
    color: #84bd00;
}
.webpage-text .bold-green {
    color: #84bd00;
    font-weight: bold;
}
.webpage-text p{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 17px;
}
.webpage-text p a {
    color: #84bd00;
    text-decoration: underline;
}

.FAQ-text {
    width: 80%;
    height: 50px;
    border-bottom: #84bd00 1px solid;
    color: #84bd00;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}


.faqs {
    width: 80%;
    margin-bottom: 50px;
}

details {
    width: 100%;
    border-bottom: #84bd00 1px solid;
    color: #84bd00;
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
}
details p{
    width: 100%;
    height: 20px;
    margin-top: 30px;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
}

