<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;All products </span>
    </div>

    <div class="page-title">
        All products 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\toner-1-1.webp">
                <img class="hover-img" src="assets\image\toner-1-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Vitamin C+E+F 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\toner-2-1.webp">
                <img class="hover-img" src="assets\image\toner-2-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Hemp seed oil + B3 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\toner-3-1.webp">
                <img class="hover-img" src="assets\image\toner-3-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\toner-4-1.webp">
                <img class="hover-img" src="assets\image\toner-4-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <img src="assets\image\wipes-1-1.webp">
                <img class="hover-img" src="assets\image\wipes-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Cleansing Facial Wipes - 25 wipes 
            </div>
            <div class="MRP">
                MRP:<b>₹325</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <img src="assets\image\wipes-2-1.webp">
                <img class="hover-img" src="assets\image\wipes-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Micellar Cleansing Wipes - 25 wipes
            </div>
            <div class="MRP">
                MRP:<s>₹350</s><b>₹280</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\serums-1-1.webp">
                <img class="hover-img" src="assets\image\serums-1-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10% Vitamin C+E+F 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\serums-2-1.webp">
                <img class="hover-img" src="assets\image\serums-2-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10% Hemp seed oil + B3 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\serums-3-1.webp">
                <img class="hover-img" src="assets\image\serums-3-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3% Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-1-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Hydrating Light Moisturiser 125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹430</s><b>₹344</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-2-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Protecting Light Moisturiser 125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹460</s><b>₹368</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-3-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-3-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Replenishing Rich Moisturiser125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹450</s><b>₹360</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-4-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-4-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox SOS Clearing Booster 25ml 
            </div>
            <div class="MRP">
                MRP:<s>₹300</s><b>₹240</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-1-1.webp">
                <img class="hover-img" src="assets\image\combos-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Refresh & Hydrate Combo 
            </div>
            <div class="MRP">
                MRP:<s>₹805</s><b>₹603</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-2-1.webp">
                <img class="hover-img" src="assets\image\combos-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Refreshing Facial Wash (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹750</s><b>₹562</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-3-1.webp">
                <img class="hover-img" src="assets\image\combos-3-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Moisturise & Protect Combo 
            </div>
            <div class="MRP">
                MRP:<s>₹835</s><b>₹626</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-4-1.webp">
                <img class="hover-img" src="assets\image\combos-4-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Moisturising Facial Wash Combo (Pack of 2)  
            </div>
            <div class="MRP">
                MRP:<s>₹750</s><b>₹563</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>



        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-5-1.webp">
                <img class="hover-img" src="assets\image\combos-5-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Double Cleanse Combo
            </div>
            <div class="MRP">
                MRP:<s>₹800</s><b>₹600</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-6-1.webp">
                <img class="hover-img" src="assets\image\combos-6-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Hydrating Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1255</s><b>₹941</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-7-1.webp">
                <img class="hover-img" src="assets\image\combos-7-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Protection Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1285</s><b>₹963</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-8-1.webp">
                <img class="hover-img" src="assets\image\combos-8-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Moisturising Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1255</s><b>₹941</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-9-1.webp">
                <img class="hover-img" src="assets\image\combos-9-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Replenishing Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1275</s><b>₹956</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-10-1.webp">
                <img class="hover-img" src="assets\image\combos-10-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar & Cleansing Wipes Combo
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-11-1.webp">
                <img class="hover-img" src="assets\image\combos-11-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Cleansing Facial Wipes Combo (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹650</s><b>₹488</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-12-1.webp">
                <img class="hover-img" src="assets\image\combos-12-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar Double Cleanse Combo
            </div>
            <div class="MRP">
                MRP:<s>₹775</s><b>₹581</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-13-1.webp">
                <img class="hover-img" src="assets\image\combos-13-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar Cleansing Wipes Combo (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹700</s><b>₹525</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-1-1.webp">
                <img class="hover-img" src="assets\image\cleansers-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Refreshing Facial Wash 150 ml 
            </div>
            <div class="MRP">
                MRP:<s>₹375</s><b>₹300</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-2-1.webp">
                <img class="hover-img" src="assets\image\cleansers-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Moisturising Facial Wash 150ml
            </div>
            <div class="MRP">
                MRP:<s>₹375</s><b>₹300</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-3-1.webp">
                <img class="hover-img" src="assets\image\cleansers-3-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox Clear Pore Facial Scrub 150ml 
            </div>
            <div class="MRP">
                MRP:<s>₹425</s><b>₹340</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="sold-out">Sold out</div>
                <img src="assets\image\cleansers-4-1.webp">
                <img class="hover-img" src="assets\image\cleansers-4-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox Purifying Facial Wash 150ml 
            </div>
            <div class="MRP">
                MRP:<s>₹425</s><b>₹375</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="sold-out-btn">
                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="sold-out">Sold out</div>
                <img src="assets\image\serums-4-1.webp">
                <img class="hover-img" src="assets\image\serums-4-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10% Niacinamide 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="sold-out-btn">
                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
            </div>
        </div>
    </div>

</div>


<div class="footer">
    <app-footer></app-footer>
</div>
