<div class="header">
    <div class="header-tools">
        <div class="header-icon">
            <a routerLink="/" routerLinkActive="active"><img src="assets\image\header-icon.jpg"></a>
        </div>
        <div class="header-elements">
            <div class="search-bar">
                <input type="search" placeholder="Search...">
            </div>
            <div class="profile-icon">
                <a routerLink=" " routerLinkActive="active"><img src="assets\image\profile-icon.jpg"></a>
            </div>
            <div class="shopping-cart-icon">
                <a routerLink="" routerLinkActive="active"><img src="assets\image\shopping-cart-icon.jpg"></a>        
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu-item">
            <div class="right-menu">
                <button class="menu-button">PRODUCTS</button>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-item">
                        <a routerLink="bestsellers" routerLinkActive="active">Bestsellers</a></div>
                    <div class="dropdown-menu-item">
                        <a routerLink="serums" routerLinkActive="active">Serums</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="cleansers" routerLinkActive="active">Facial Cleansers</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="moisturisers" routerLinkActive="active">Moisturisers</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="toner" routerLinkActive="active">Toner + Cleansing Water</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="wipes" routerLinkActive="active">Facial Wipes</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="combos" routerLinkActive="active">Combos</a>
                    </div>
                    <div class="dropdown-menu-item">
                        <a routerLink="all-products" routerLinkActive="active">All Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item"><a routerLink="skincare-tips" routerLinkActive="active">SKINCARE TIPS</a></div>
        <div class="menu-item"><a routerLink="simple-philosophy" routerLinkActive="active">SIMPLE PHILOSOPHY</a></div>
        <div class="menu-item"><a routerLink="track-my-order" routerLinkActive="active">TRACK MY ORDER</a></div>
    </div>
</div>