<div class="footer">
    <div class="unilever-logo">
        <div class="image-uni">
            <img src="assets\image\unilever-footer-logo.webp">
        </div>
        <div class="copyright">
            Copyright © 2022 Simple Skincare. 
        </div>
    </div>
    <div class="consumer-service">
        CONSUMER SERVICE
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">Contact Us</a></div>
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">About Us</a></div>
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">FAQ</a></div>
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">Terms & Condition</a></div>
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">Shipping & Refund Policy</a></div>
        <div class="consumer-service-option"><a routerLink="" routerLinkActive="active">Track My Order</a></div>
    </div>
    <div class="legal">
        LEGAL
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Privacy Notice</a></div>
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Accessibility</a></div>
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Legal</a></div>
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Cookie Notice</a></div>
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Terms of Use</a></div>
        <div class="legal-option"><a routerLink="" routerLinkActive="active">Sitemap</a></div>
    </div>
    <div class="follow-us">
        FOLLOW US
        <div class="follow-options">
            <div class="follow-us-option">
                <a href="https://www.facebook.com/Simple-Skincare-India-665506817178473">
                    <img src="assets\image\fb-footer-logo.webp">
                </a>
            </div>
            <div class="follow-us-option">
                <a href="https://www.instagram.com/simpleskincareindia/">
                    <img src="assets\image\insta-footer-logo.webp">
                </a>
            </div>
        </div>
    </div>
</div>
