<div class="header">
    <app-header></app-header>
</div>

<div class="body">
    <div class="header-space">
        
    </div>
    <div class="page-title">
        Track Your Order
    </div>
    
    <div class="tracking-input">
        <div class="text">
             Order Id or AWB Number :
        </div>
        <div class="input">
            <div class="input-box">
                <input type="text" placeholder="Enter Tracking Id">
            </div>
            <div class="submit-btn">
                <a routerLink="">SUBMIT</a>
            </div>
        </div>
    </div>
</div>

<div class="app-footer">
    <app-footer></app-footer>
</div>