<div class="header">
    <app-header></app-header>
</div>

<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Simple Philosophy</span>
    </div>

    <div class="page-title">
        Simple Philosophy  
    </div>

    <div class="page-image-1">
        <img src="assets\image\simple-philosophy-1.webp">
    </div>

    <div class="page-text-1">
        <p>At Simple we have always been about being kind. When it comes to kindness, we believe that small acts are<br>
        just as impactful as grand gestures. Since our inception, we provide simple solutions in a world filled with complexity.<br>
        And that’s how we’ve gone to become U.K’s no.1 facial care brand.</p>
    </div>

    <div class="info-section">
        <div class="img-text">
            <div class="text-title">who we are</div>
            <div class="text">
                Kindness is at the heart of everything we do – but – we’re about so<br>much more. 
                With the aim of creating skincare that is fuss-free and<br>approachable, we’re committed 
                to keeping you and your skin<br>looking (and feeling!) its best, starting with clean, 
                uncomplicated<br>products that downright love your skin and the planet too.<br>
                Our journey started way back in the 1960’s, in the hands of a British<br>doctor, with the 
                goal of offering kindness to sensitive skins. With 1978<br>marking the launch of our first 
                ever no colour, no perfume and no<br>harsh chemicals soap, our attitude towards skincare is 
                still the same!<br>Meaning your skin will love us, always. 
            </div>
        </div>
        <div class="image">
            <img src="assets\image\simple-philosophy-2.webp">
        </div>
    </div>
    <div class="info-section">
        <div class="image">
            <img src="assets\image\simple-philosophy-3.webp">
        </div>
        <div class="img-text">
            <div class="text-title">we are free from</div>
            <div class="text">
                Our free-from list boasts more than 2000 harsh chemicals that are<br>harmful to your skin! But 
                we don’t stop there, we are committed to<br>clean beauty and for that, every year 10% of our profits 
                go towards<br>R&D. These efforts are to further work on our free-from list and<br>increase the number 
                of blacklisted ingredients. Oh yes, we take a lot<br>of pride in this ever-increasing list!  
            </div>
        </div>
    </div>
    <div class="info-section">
        <div class="img-text">
            <div class="text-title">tested for sensitive skin </div>
            <div class="text">
                You know we're all about to leaving our harsh ingredients ,but we<br>also insist on testing every single 
                one of our products too . Call us<br>obsessed but that how we make sure they are nothing but kind skin<br>
                loving and safe especially for sensitive skin so we put them through<br>the wringer to make sure that they 
                come out skin loving on the other<br>side
            </div>
        </div>
        <div class="image">
            <img src="assets\image\simple-philosophy-4.webp">
        </div>
    </div>

    <div class="page-text-2">
        our products are 
    </div>
    <div class="page-text-3">
        &nbsp;hypoallergenic&nbsp;
    </div>
    <div class="page-text-3-1">
        Produce fewer allergic reactions than other skin care products
    </div>
    <div class="page-text-3">
        &nbsp;dermatologically tested&nbsp;
    </div>
    <div class="page-text-3-1">
        Tested by or in consultation with dermatologist for tolerance and signs of obvious or serve skin reactions for sensitve skin 
    </div>
    <div class="page-text-3">
        &nbsp;non comedogenic&nbsp;
    </div>
    <div class="page-text-3-1">
        Formulated in a way that they are not likely to cause pore blockage and breakouts 
    </div>
    

    <div class="info-section">
        <div class="image">
            <img src="assets\image\simple-philosophy-5.webp">
        </div>
        <div class="img-text">
            <div class="text-title">the reason to believe in us</div>
            <div class="text">
                How do I know if a brand follows clean beauty? Does natural mean<br>clean beauty? What exactly are the 
                ingredients to look for? And<br>many more questions are asked! But is clean beauty really that<br>complicated? 
                Moreover, does it NEED to be that complicated? NO!<br>Clean Beauty Is Simple!   
            </div>
            <div class="text-1">
                We think looking after your skin should be simple, clean and free from<br>any harsh ingredients that could upset it. 
                Which is why we only use<br>the kindest ingredients that respect your skin’s natural ways.<br>
                The world of skincare is always evolving, and we’re always learning.<br>Our goal is to make sure we keep 
                up-to-date on innovations, our<br>free-from list (which already contains more than 2000 chemicals!)<br>and committing 
                to kindness, always. 
            </div>
        </div>
    </div>

    <div class="slider">
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn">
                <div class="btn-image">
                    <img src="assets\image\radio-1.webp">
                </div>
                <div class="btn-text">
                    kind to skin 
                </div>
            </label>
            <label for="radio2" class="manual-btn">
                <div class="btn-image">
                    <img src="assets\image\radio-2.webp">
                </div>
                <div class="btn-text">
                    kind to planet 
                </div>
            </label>
            <label for="radio3" class="manual-btn">
                <div class="btn-image">
                    <img src="assets\image\radio-3.webp">
                </div>
                <div class="btn-text">
                    kind to animals 
                </div>
            </label>
        </div>
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
    
            <div class="slide first">
                <img src="assets\image\radio-display-1.png">
            </div>
            <div class="slide">
                <img src="assets\image\radio-display-2.png">
            </div>
            <div class="slide">
                <img src="assets\image\radio-display-3.png">
            </div>    
        </div>
    

    </div>

</div>
<div class="footer">
    <app-footer></app-footer>
</div>
