<div class="header">
    <app-header></app-header>
</div>

<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Skincare Tips</span>
    </div>

    <div class="page-title">
        Skincare Tips
    </div>

    <div class="skincare-blogs">
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-2-1.jpg">
            </div>
            <div class="card-title">
                Why is moisturizer a holy<br>grail in everyone’s skincare 
            </div>
            <div class="card-text">
                Whether it’s an elaborate 10-step skincare routine or the bare minimum of just 
                cleansing and moisturizing, a product that always...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-2-2.jpg">
            </div>
            <div class="card-title">
                7 sensitive skincare tips 
            </div>
            <div class="card-text">
                Here’s something you may not know: all skin can feel sensitive at times. External 
                factors in our environment like pollutants,...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-2-3.jpg">
            </div>
            <div class="card-title">
                What Type of Skin Do I Have?<br>our Simple guide 
            </div>
            <div class="card-text">
                Knowledge is power, right? And figuring out your skin type is the first step in taking care of your skin....
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-2-4.jpg">
            </div>
            <div class="card-title">
                How to wash your face: our<br>guide to getting cleansed 
            </div>
            <div class="card-text">
                Oh, the humble face wash. The most essential step in any skincare routine. But, it’s not all in the products...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
    </div>

    <div class="next-btn">
        <span><a routerLink="skincare-tips">&lt; Previous</a></span>
        <span><a routerLink="skincare-tips">1</a></span>
        <span>2</span>
    </div>

</div>

<div class="footer">
    <app-footer></app-footer>
</div>