<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Best Facial Cleansers</span>
    </div>

    <div class="page-title">
        Best Facial Cleansers 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-1-1.webp">
                <img class="hover-img" src="assets\image\cleansers-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Refreshing<br>Facial Wash 150 ml 
            </div>
            <div class="MRP">
                MRP:<s>₹375</s><b>₹300</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-2-1.webp">
                <img class="hover-img" src="assets\image\cleansers-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin<br>Moisturising Facial Wash<br>150ml
            </div>
            <div class="MRP">
                MRP:<s>₹375</s><b>₹300</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\cleansers-3-1.webp">
                <img class="hover-img" src="assets\image\cleansers-3-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox Clear<br>Pore Facial Scrub 150ml 
            </div>
            <div class="MRP">
                MRP:<s>₹425</s><b>₹340</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="sold-out">Sold out</div>
                <img src="assets\image\cleansers-4-1.webp">
                <img class="hover-img" src="assets\image\cleansers-4-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox<br>Purifying Facial Wash 150ml 
            </div>
            <div class="MRP">
                MRP:<s>₹425</s><b>₹375</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="sold-out-btn">
                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
            </div>
        </div>
    </div>

    <div class="webpage-text">
        <p>Face cleanser is the first skincare product used in a skincare routine and therefore 
            choosing the right one for your skin type is critical. Be it oily, dry, acne or sensitive<br>
            skin, a right facial cleanser can show a difference. Using the right cleanser eliminates all 
            the dirt, oil and impurities and preps the skin for the next steps. Having a<br>hydrated skin 
            base will make application of a moisturizer or makeup much smoother.</p>
        <p>Our facial wash thoroughly washes away make-up and other impurities leaving your skin feeling clean, 
            fresh, and revived. With Pro-Vitamin B5, Vitamin E, Bisabolol,<br>and careful blend of purest possible 
            ingredients and multi-vitamins, Simple face washes keep your skin cleansed and revitalized. Its gentle 
            formula doesn’t dry out<br>the skin, and foam-based formulation is known to be the best facewash for 
            sensitive skin.</p>
        <p>They are 100% Soap Free, contains Triple Purified Water and vital vitamins to help replenish and nourish 
            your skin without irritation. Our face washes like all Simple<br>products contains no colour or dye, no 
            soap, and no artificial perfume. It is dermatologically tested and approved, and ophthalmologically tested. 
            <br>Specially designed for sensitive skin users, it is also hypoallergenic and non-comedogenic. They are 
            Vegan PETA certified cruelty free.</p>
        <p>For dry skin, it’s important to look for face cleansers that is free from alcohol, as this can dry out the 
            skin even more. Our <a>Simple Kind to Skin Moisturising Facial Wash</a><br>is the best face wash for dry skin and 
            it is also alcohol-free. It keeps skin moisturized and hydrated throughout the day. Our <a>Simple Kind to Skin 
            Refreshing Facial<br>Wash</a> is best face wash for oily skin. It removes excess oil without ripping off the natural 
            moisture from the skin.</p>
        <p>These face washes are mild and do not irritate your skin as they are color and fragrance-free. Suitable for even 
            the most sensitive and acne prone skin. Our face<br>wash for oily skin, Refreshing Facial Wash, has been the 
            favorite choice of many of our consumers as it has worked wonders and shown positive results.</p>
    </div>

    <div class="FAQ-text">
        FAQ
    </div>

    <div class="faqs">
        <details>
            <summary>Which face wash is best for dry skin for daily use? </summary>
            <p class="text"> Our Simple Kind to Skin Moisturising Facial Wash id best for dry skin and can be used daily. </p>
        </details>
        <details>
            <summary>Which face wash is best for acne and oily skin? </summary>
            <p class="text">Our Simple Kind to Skin Refreshing Facial Wash is the right choice for acne and oily skin. </p>
        </details>
        <details>
            <summary>How much should I use per wash? </summary>
            <p class="text"> A little goes a long way. It is recommended to use 2ml or a pea-sized amount per wash. This should 
                be enough to massage over your wet face. If you feel you<br>need more or want to have a more intense cleanse, 
                there is no problem with trying a bit more. </p>
        </details>
        <details>
            <summary>When should I use a Facial Wash? </summary>
            <p class="text"> It can be used in the morning and at night as part of your skin care routine. To complement your 
                cleansing routine, you can apply a Micellar Water or a Facial<br>Toner. <a>Simple Micellar Water</a> thoroughly cleans 
                and hydrates your skin, while our Simple Soothing Facial Toner refines pores. Lastly, apply a moisturiser to keep 
                your<br>skin hydrated throughout the day or night. </p>
        </details>
        <details>
            <summary>How is the Refreshing Facial Wash different from the Moisturising Facial Wash? </summary>
            <p class="text">Both Refreshing Facial Wash and Moisturising Facial Wash are formulated with the purest possible skin-loving 
                ingredients and are free from artificial colour, perfume<br>and harsh chemicals that can upset or irritate the skin. The main 
                difference is in the format where the Refreshing Facial Wash is gel-based, and the Moisturising<br>Facial Wash is cream-based.</p>
        </details>
        <details>
            <summary>Is the formulation of the Simple® Refreshing Facial Wash suitable for sensitive skin? </summary>
            <p class="text">Definitely. Simple Refreshing Facial Wash is formulated to suit all skin types and is perfect for sensitive skin 
                because it contains no artificial perfume, colour or harsh<br>chemicals that can upset or irritate skin. </p>
        </details>
        <details>
            <summary>Will the product irritate my eyes? </summary>
            <p class="text">Our formula is non-comedogenic, hypoallergenic, ophthalmologist-tested and is safe for sensitive eyes. But avoid direct 
                contact with eyes, otherwise, rinse<br>thoroughly with water to prevent irritation. </p>
        </details>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
