<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Wet Wipes For Face</span>
    </div>

    <div class="page-title">
        Wet Wipes For Face 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Selling</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <img src="assets\image\wipes-1-1.webp">
                <img class="hover-img" src="assets\image\wipes-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Cleansing<br>Facial Wipes - 25 wipes 
            </div>
            <div class="MRP">
                MRP:<b>₹325</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <img src="assets\image\wipes-2-1.webp">
                <img class="hover-img" src="assets\image\wipes-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Micellar<br>Cleansing Wipes - 25 wipes
            </div>
            <div class="MRP">
                MRP:<s>₹350</s><b>₹280</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

    </div>
    <div class="webpage-text">
        <p>Simple Face Wipes help in cleansing, refreshing and moisturizing your skin without being harsh. 
            Our wipes are softer than silk and are made with the perfect blend<br>of purest possible skin loving 
            ingredients and are suitable for use on all skin types, even the most sensitive ones. They are 
            dermatologically tested, hypoallergenic<br>and non-comedogenic, vegan, PETA certified cruelty free and kind to animals.</p>
        <p>Like all our products these innovative wipes contain no artificial colour, no artificial perfume and are free from more than 
            2000+ harsh chemicals that can upset or<br>irritate your skin. There is no alcohol or parabens, but they are strong enough 
            to remove tough make-up or dirt, gently enough without harming or drying the skin.</p>
        <p>Our facial wipes remove dirt, grease, impurities, and make-up effectively, even waterproof mascara, without drying out your skin, 
            leaving skin feeling thoroughly<br>clean, fresh, and hydrated.</p>
        <p>We have two types of wipes, <a>Kind to Skin Cleansing Wipes</a> & <a>Micellar Cleansing Wipes</a> that work well for all skin types.</p>
        <p>Kind to Skin Cleansing Wipes is refreshing wipes that clean gently clean all the dirt and impurities from the skin. While Micellar Cleansing 
            Wipes are specially made<br>with micelles which are help remove the dirt but also the toughest makeup from the skin.</p>
        <p>Our new improved packaging incorporates the Aqua-Lock which helps prevent our wipes from drying out. So, every wipe stays fresh and effective 
            as the first.<br>Convenient and quick to use, these face wipes are a must addition to any make-up bag, gym kit and bathroom to 
            give a gentle cleanse or touch-up for naturally<br>healthy-looking skin every day, wherever you are.</p>
        <p>Why use face cleansing wipes?</p>
        <p>Our face is that part of the body that is exposed to the harsh pollutants all the time and using refreshing facial wipes keeps life simple.</p>
        <p>Occasionally a hectic schedule might leave you so exhausted enough to remove your makeup, forget the whole CTM skincare 
            routine of cleansing, toning, and<br> moisturizing or even in the middle of the day you may have felt the desire to take 
            a break and wash your face but sometimes you have makeup on & or no water <br>available to rinse your face.</p>
        <p>In such cases Simple refreshing facial wipe can truly be the savior. A face tissue wipes may not have the same dramatic effect as a splash 
            of water on the face,<br>but the rapid gratification delivered by a facial wipe is unrivalled. However, it is also important 
            not to skip cleansing. It should remain as an integral part of the daily <br>skincare routine.</p>
        <p>Our Simple face wipes are formulated with triple purified water, an ingredient that undergoes a triple purification process that 
            helps minimize potential for irritation <br>from contaminants known to irritate the skin. Blended with vitamins like Pro-vitamin 
            B5 and vitamin E, both of which make the best face wipes for skin.</p>
    </div>

    <div class="FAQ-text">
        FAQ
    </div>

    <div class="faqs">
        <details>
            <summary>Does wet wipes cause pimples? </summary>
            <p class="text">No, our facial wipes are free from ingredients that can cause irritation and are kind to skin.  </p>
        </details>
        <details>
            <summary>Do face wipes dry out skin? </summary>
            <p class="text">Absolutely not, our formulation is such that your skin will feel hydrated and fresh. </p>
        </details>
        <details>
            <summary>How have the wipes been made more effective at make-up removal? </summary>
            <p class="text">Simple Cleansing Facial Wipes contain an optimum dose of cleansing product held within a 
                fabric tissue. Our new improved facial wipes are softer and smoother <br>for better absorbance to enhance 
                the make-up removal process. They are also better-packaged so the cleansing dose stays on, making the last wipe 
                as <br>effective as the first.  </p>
        </details>
        <details>
            <summary>How has this product been tested? </summary>
            <p class="text">All Simple® products are tested to ensure that they are suitable for sensitive skin. The new 
                and improved wipes are non-comedogenic, hypoallergenic, and <br>ophthalmologist tested.  </p>
        </details>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
