<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Combos  </span>
    </div>

    <div class="page-title">
        Combos 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-1-1.webp">
                <img class="hover-img" src="assets\image\combos-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Refresh &<br> Hydrate Combo 
            </div>
            <div class="MRP">
                MRP:<s>₹805</s><b>₹603</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-2-1.webp">
                <img class="hover-img" src="assets\image\combos-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Refreshing<br>Facial Wash (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹750</s><b>₹562</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-3-1.webp">
                <img class="hover-img" src="assets\image\combos-3-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Moisturise<br>& Protect Combo 
            </div>
            <div class="MRP">
                MRP:<s>₹835</s><b>₹626</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-4-1.webp">
                <img class="hover-img" src="assets\image\combos-4-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin<br>Moisturising Facial Wash<br>Combo (Pack of 2)  
            </div>
            <div class="MRP">
                MRP:<s>₹750</s><b>₹563</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>



        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-5-1.webp">
                <img class="hover-img" src="assets\image\combos-5-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Double<br> Cleanse Combo
            </div>
            <div class="MRP">
                MRP:<s>₹800</s><b>₹600</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-6-1.webp">
                <img class="hover-img" src="assets\image\combos-6-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Hydrating<br>Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1255</s><b>₹941</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-7-1.webp">
                <img class="hover-img" src="assets\image\combos-7-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Protection<br>Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1285</s><b>₹963</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-8-1.webp">
                <img class="hover-img" src="assets\image\combos-8-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin<br> Moisturising Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1255</s><b>₹941</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>


        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-9-1.webp">
                <img class="hover-img" src="assets\image\combos-9-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin<br> Replenishing Combo
            </div>
            <div class="MRP">
                MRP:<s>₹1275</s><b>₹956</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-10-1.webp">
                <img class="hover-img" src="assets\image\combos-10-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar &<br>Cleansing Wipes Combo
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-11-1.webp">
                <img class="hover-img" src="assets\image\combos-11-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Cleansing<br>Facial Wipes Combo (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹650</s><b>₹488</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-12-1.webp">
                <img class="hover-img" src="assets\image\combos-12-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar<br>Double Cleanse Combo
            </div>
            <div class="MRP">
                MRP:<s>₹775</s><b>₹581</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\combos-13-1.webp">
                <img class="hover-img" src="assets\image\combos-13-2.webp">
            </div>
            <div class="product-title">
                Simple Kind to Skin Micellar<br>Cleansing Wipes Combo (Pack of 2)
            </div>
            <div class="MRP">
                MRP:<s>₹700</s><b>₹525</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

    </div>
    <div class="webpage-text">
        <p>Simple Skincare has curated the best combos just for you! With our regime combos we have 
            Simple-fied your skincare. An everyday CTM routine – Cleanse, Tone,<br>Moisturise – with 
            <a>Simple Kind to Skin Refreshing Face Wash</a>, <a>Facial Toner</a> and <a>Hydrating Light Moisturiser</a> 
            is the best pick for oily skin types. Cleansing and <br>Moiturising are the most important steps 
            that should not be missed, must be followed at least twice a day!</p>
        <p>We have combos that are suitable for even dry and acne prone skin, like our Simple Kind to Skin Moisturising 
            combo – Moisturising Face wash + Toner + Hydrating<br>Light Moisturiser. Explore and choose the right combo 
            for your skin requirement.</p>
        <p>All our products are free from artificial colour, fragrance, parabens and alcohol. We have eliminated a list 
            of more than 2000+ harsh chemicals (we call then<br>baddies). In addition to being hypoallergenic, non-comedogenic 
            and dermatologically tested for even the most sensitive skin, our products are also PETA certified<br>cruelty free.</p>
    </div>

    <div class="FAQ-text">
        FAQ
    </div>

    <div class="faqs">
        <details>
            <summary>What skincare routine should I follow for Sensitive Skin? </summary>
            <p class="text">A highly effective daily practice to keep your skin feeling clean, fresh and soft is to follow a cleanse, 
                tone, serum and moiturise routine both during day and night. </p>
        </details>
        <details>
            <summary>Which face wash to use with Simple Hydrating Light Moituriser? </summary>
            <p class="text">Our Refreshing Facial Wash works wonders with Hydrating Light Moituriser.  </p>
        </details>
    </div>
    
</div>

<div class="footer">
    <app-footer></app-footer>
</div>


