<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Serums</span>
    </div>

    <div class="page-title">
        Serums
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\serums-1-1.webp">
                <img class="hover-img" src="assets\image\serums-1-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Vitamin C+E+F 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\serums-2-1.webp">
                <img class="hover-img" src="assets\image\serums-2-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Hemp seed oil + B3 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\serums-3-1.webp">
                <img class="hover-img" src="assets\image\serums-3-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="sold-out">Sold out</div>
                <img src="assets\image\serums-4-1.webp">
                <img class="hover-img" src="assets\image\serums-4-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Niacinamide 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="sold-out-btn">
                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
            </div>
        </div>
    </div>
        <div class="webpage-text">
            <p>One of the most important and often missed out skin care product in a skincare routine 
                is a face serum. It absorbs fast into the skin and effectively improves the<br>health 
                of the skin barrier. Some serums battle acne, while others fight the early indications 
                of ageing. Some help to remove imperfections, while others provide<br>a natural glow to the skin.</p>
            <p>Therefore, it becomes vital to understand the skin concern and then choose the right serum to get instant 
                visible results.</p>
            <p>Supercharged booster serums are our most advanced innovation yet that are absorbed deep into the skin to 
                provide benefits that are instantly visible. These<br>serums address specific concerns and actively reduces them.</p>
            <p><a>Simple Booster serum – 3% Hyaluronic acid + B5 serum</a> for deep hydration.</p>
            <p><a>Simple Booster serum – 10% Hemp seed oil + B3 serum</a> for strong resilient skin</p>
            <p><a>Simple Booster serum - 10% Niacinamide serum</a> for even tone skin</p>
            <p><a>Simple Booster serum – 10% Vitamins C+E+F</a> for youthful glowing skin</p>
            <p>Our serums are potent that is they have active ingredients, yet they are kind to skin, best of both worlds! 
                They are made of skin loving ingredients that work in<br>perfect harmony with the skin’s natural ecosystem. Applied after 
                using a toner and before using a moisturiser. Best results seen when applied twice, both during<br>the day and during the 
                night. They are suitable for all skin types.</p>
            <p>Our serums contain no artificial colour, perfume, alcohol and are free from more than 2000+ harsh chemicals. They are 
                naturally derived, biodegradable, vegan,<br>PETA certified cruelty free and kind to animals. Dermatologically approved, 
                hypoallergenic, non-comedogenic and tested for even sensitive skin.</p>
        </div>

        <div class="FAQ-text">
            FAQ
        </div>
    
        <div class="faqs">
            <details>
                <summary>Should I use a toner every day? </summary>
                <p class="text">Yes, it is ideal to use a toner every day, at least once a day. </p>
            </details>
            <details>
                <summary>What does simple face toner do?  </summary>
                <p class="text">Our soothing facial toner helps keep skin toned and refreshed.  </p>
            </details>
            <details>
                <summary>How much should I use? Can I use Micellar Water more than once a day? </summary>
                <p class="text">Start with one cotton pad and apply a generous amount. It’s quite common to use two cotton pads; 
                    some Micellar Water lovers use a cotton pad for either side<br>of the face, while some use one after the other 
                    to achieve that thorough cleanse. 
                </p>
            </details>
            <details>
                <summary>Can I use Toner and Micellar Water if I have sensitive skin? </summary>
                <p class="text">Yes, our Simple Soothing Toner and Simple Micellar Cleansing Water is designed for sensitive skin and 
                    loved by all skin types. We make sure to use only our purest<br>possible ingredients, so they are not only effective, 
                    but also also gentle and kind to skin, making it perfect for sensitive skin. 
                </p>
            </details>
            <details>
                <summary>How does Micellar Water fit into my daily skin care regime? </summary>
                <p class="text">You can use Simple® Micellar Cleansing Water as your daily cleanser. The only difference is that there’s 
                    no need to rinse after you use it. You can use it as a first<br>step, to gently cleanse and remove make-up. Alternatively, 
                    you can also use it after washing your face with facial wash to give your skin a thorough cleanse. After<br>use, you can 
                    continue with your usual skin care regime (i.e., tone & moisturise).  
                </p>
            </details>
            <details>
                <summary>How is Micellar Water different from oil-based make-up removers? </summary>
                <p class="text">Oil-based make-up removers are known for their effectiveness in dissolving and removing make-up, but not 
                    particularly known for being kind on skin. Micellar<br>Water, on the other hand, is a relatively new format in make-up 
                    removal that is known for its mild and gentle formulation, making it the perfect make-up removal<br>format for sensitive skin 
                </p>
            </details>
        </div>
</div>


<div class="footer">
    <app-footer></app-footer>
</div>

