<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Best Skincare Moisturizers </span>
    </div>

    <div class="page-title">
        Best Skincare Moisturizers 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-1-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-1-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Hydrating<br>Light Moisturiser 125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹430</s><b>₹344</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-2-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-2-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin Protecting<br>Light Moisturiser 125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹460</s><b>₹368</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-3-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-3-2.webp">
            </div>
            <div class="product-title">
                Simple Kind To Skin<br> Replenishing Rich Moisturiser<br>125ml 
            </div>
            <div class="MRP">
                MRP:<s>₹450</s><b>₹360</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\moisturisers-4-1.webp">
                <img class="hover-img" src="assets\image\moisturisers-4-2.webp">
            </div>
            <div class="product-title">
                Simple Daily Skin Detox SOS<br> Clearing Booster 25ml 
            </div>
            <div class="MRP">
                MRP:<s>₹300</s><b>₹240</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
    </div>
    <div class="webpage-text">
        <p>Our Simple moisturizers work wonders for all skin types, and they are one of the best to keep 
            your skin feeling hydrated and to help strengthen your skin barrier all<br>the while fighting 
            the harsh impact of environmental factors like pollution, the weather, and harsh chemicals, which 
            can all trigger sensitivity.</p>
        <p>Our is a lightweight and fast-absorbing formulation that helps retain moisture in the skin. Most suitable 
            for oily and acne prone skin. For combination skin types,<br>where the T-zone (forehead and nose) maybe oily 
            and due to this oil accumulation that part of the face becomes susceptible to pimples. Our Simple SOS clearing<br>
            booster can be applied on this T-zone to get clear and smooth skin.</p>
        <p>For dry and dehydrated skin, our <a>Simple Replenishing Rich Moisturiser</a>, enriched with Vitamin B and Bisabolol, instantly 
            doubles skin’s hydration and provides 12hr<br>moisturisation. Simple rich moisturizer will keep the skin looking fresh 
            and healthy. Applying simple moisturizer after cleansing and using a toner or a serum will give<br>an instant boost to 
            the way your skin will look.</p>
        <p>Skin is the largest organ of our body where face and neck are areas where it is more exposed and more sensitive. So, it 
            becomes important to protect them from<br>the harmful rays of the sun. Our Simple Kind to Skin Protecting Light Moisturiser 
            has SPF that protects skin from harmful UVA and UVB rays. This is non-greasy and<br>helps provide nourishment. It is a 
            special blend of Pro-Vitamin B5, Vitamin E, Glycerin, Allantoin, Bisabolol and SPF. Therefore, you get moisturisation 
            and protection<br>in one product.</p>
        <p>All our gentle moisturisers are kind to skin and the right moisturiser for everyday use. In addition to being 
            dermatologically tested, hypoallergenic, non-<br>comedogenic and tested for even sensitive skin, they contain no colour, 
            no perfume, no parabens and are free from more than 2000+ harsh chemicals. Artificial<br>perfume or fragrance and colour 
            are basically skin irritants that cause more harm than good. Choosing Simple moisturizers free from all these ingredients 
            will help<br>maintain the natural balance of the skin in the long run.</p>
        <p>Why do you need a moisturizer?</p>
        <p>One of the most crucial skin care products that we recommend for all skin types is a moisturiser. Your skin might easily get 
            dehydrated due to the harsh<br>environmental conditions. Therefore, it is critical to nurture it with creams or simple 
            light moisturizers on a daily basis. You can easily restore the natural balance of<br>your skin by using the right kind 
            of moisturiser. A regular moisturising regimen will also help to significantly lessen the likelihood of various skin 
            issues.</p>
        <p>Applying a moisturiser that is suitable for your skin whether dry, oily, combination, sensitive, pimple-prone etc, will 
            directly impact the texture of the skin and<br>moisturising two times a day is the ideal way to keep your skin healthy. 
            It will help prevent premature lines and wrinkles. So, do not skip this! Make it a part of your<br>everyday skincare and 
            see the change.
        </p>
    </div>

    <div class="FAQ-text">
        FAQ
    </div>

    <div class="faqs">
        <details>
            <summary>Is Simple Replenishing Rich Moisturiser good for acne? </summary>
            <p class="text">Yes, it works very well for dry and acne prone skin. </p>
        </details>
        <details>
            <summary>Is Simple Hydrating Light Moisturiser comedogenic? </summary>
            <p class="text">No, all our products are non-comedogenic.  </p>
        </details>
        <details>
            <summary>When should moisturiser be applied? </summary>
            <p class="text">It’s best to apply moisturiser after cleansing and toning the face, so that skin is 
                clean and free from dirt, make-up and impurities. This way, the moisturiser can really<br>be 
                absorbed by the skin and can reach down into the skin’s deeper surface layers. This then enables 
                the moisturiser to work on the skin from deep within. </p>
        </details>
        <details>
            <summary>How much moisturiser should I use per application? </summary>
            <p class="text">Depending on your skin type, a nickel-sized amount should suffice per application. If 
                you use too much, it could make your skin feel greasy, and would then be<br>vulnerable to irritation. 
                On the other hand, if you use too little, you may not be giving your skin enough hydration and your skin 
                may be more vulnerable to irritation. </p>
        </details>
        <details>
            <summary>Do I still need to use a moisturiser if I have already used a moisturising facial wash? </summary>
            <p class="text">Moisturisers and face wash serve different functions and deliver different benefits to the skin. 
                Moisturisers are meant to lock in moisture in the skin to prevent<br>dryness. Face wash on the other hand is a 
                cleanser and is meant to remove any dirt or impurities from the skin which could cause irritation. With the 
                Moisturising<br>Facial Wash, skin is thoroughly cleansed and instantly hydrated. And with a moisturiser the 
                hydration is locked for 12 hours. </p>
        </details>
        <details>
            <summary>How is the Hydrating Light Moisturiser different from the Replenishing Rich Moisturiser? </summary>
            <p class="text">Both moisturisers are formulated with the purest possible skin-loving ingredients and are free from 
                artificial colour, perfume and harsh chemicals that can upset or<br>irritate the skin. The main difference is in 
                the consistency of the products, where the Replenishing Rich Moisturiser has a slightly thicker consistency versus 
                the<br>Hydrating Light Moisturiser which is known for its lightweight feel on skin.  </p>
        </details>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>