<div class="header">
    <app-header></app-header>
</div>


<div class="body">
    <div class="header-space">
        
    </div>
    <div class="title">
        <a routerLink="/" routerLinkActive="active">Home</a><span>&nbsp;&nbsp;>&nbsp;&nbsp;Toner + Micellar Cleansing Water </span>
    </div>

    <div class="page-title">
        Toner + Micellar Cleansing Water 
    </div>

    <div class="sorting-options">
        Sort by 
        <span>
            <select>
                <option>Featured</option>
                <option>Best Seliing</option>
                <option>Alphabetically, A-Z</option>
                <option>Alphabetically, Z-A</option>
                <option>Price, low to high</option>
                <option>Price, hight to low</option>
            </select>
        </span>
    </div>

    <div class="product-cards">
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\toner-1-1.webp">
                <img class="hover-img" src="assets\image\toner-1-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Vitamin C+E+F 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save20%</div>
                <img src="assets\image\toner-2-1.webp">
                <img class="hover-img" src="assets\image\toner-2-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 10%<br>Hemp seed oil + B3 30ml 
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹540</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\toner-3-1.webp">
                <img class="hover-img" src="assets\image\toner-3-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image">
                <div class="offer">Save25%</div>
                <img src="assets\image\toner-4-1.webp">
                <img class="hover-img" src="assets\image\toner-4-2.webp">
            </div>
            <div class="product-title">
                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
            </div>
            <div class="MRP">
                MRP:<s>₹675</s><b>₹506</b>
            </div>
            <div class="rating-stars">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="add-to-cart">
                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
            </div>
        </div>
    </div>
    <div class="webpage-text">
        <p>A simple facial toner is an essential product in your skincare. Best used after removing make-up 
            and cleansing, before using a serum and moisturiser. It helps<br>restore skin’s natural pH balance 
            that could have been stripped off while cleansing.</p>
        <p><a>Simple Kind to Skin Soothing Facial Toner</a> is made with the special blend of Pro-Vitamin B5, Witch 
            Hazel and Allantoin that will keep skin toned and refreshed. It is<br>a vegan toner made of 100% recycled 
            plastic. All our simple products are free from artificial colour, perfume, alcohol and more than 2000+ 
            harsh chemicals. They<br>are PETA certified cruelty free, dermatologically approved, hypoallergenic, non-comedogenic 
            and tested for even sensitive skin.</p>
        <p class="green">Why use Toner?</p>
        <p>Face toner is a well-kept beauty secret. It's a water-based solution that contains skin-soothing ingredients. 
            Different formulae tailored to your skin type are<br>frequently available. The purpose of a toner is to rejuvenate 
            your skin gently without depriving it of its natural moisture. This implies that the toner won't irritate<br>fragile 
            skin or cause it to become too dry. Toner also helps your skin absorb your post-cleansing moisturiser and any other 
            skin products you might use.</p>
        <p>After washing your face, a simple skin toner eliminates any remains of oil, and pollutants caught in your pores. It 
            can have a significant impact on the look and<br>tightness of your pores when applied to your daily skincare routine. 
            Toner also balances the pH balance of your skin, smooths rough spots, and improves skin tone.<br>So many advantages!</p>
        <p>Simple soothing facial toner is the right choice that fulfils all these benefits. It’s a simple toner for oily skin as well as sensitive skin.</p>
        <p class="bold-green">Micellar Water</p>
        <p>Micellar water is made of micelles that has a property to attract all the dirt from skin and remove impurities, even tough make-up 
            gently without affecting the<br>skin’s natural barriers.</p>
        <p>Our <a>Simple Kind to Skin Micellar Cleansing water</a> is enriched with Vitamin B3, Vitamin C and Triple purified water, that is perfectly 
            suitable for normal to dry skin<br>types. Our Simple Daily Skin Detox Oil Be Gone Micellar Water is made with a special blend 
            of thyme, witch hazel and zinc that helps clean pores and remove<br>excess oil. Best suitable for oily, acne prone skin and 
            specially made for daily use.</p>
        <p class="bold-green">Micellar Water Benefits</p>
        <ul>
            <li>Helps efficiently removes dirt and oil, which can help keep skin fresh by preventing clogged pores and acne.</li>
            <li>Suitable for all skin types and can greatly decrease skin inflammation and irritation, which is especially good for people with sensitive skin.</li>
            <li>Used on the skin to remove harsh makeup, and impurities left behind after cleansing. Most of its ingredients have the capability to increase skin 
                penetration,<br>allowing for a more thorough cleansing.</li>
        </ul>
    </div>

    <div class="FAQ-text">
        FAQ
    </div>

    <div class="faqs">
        <details>
            <summary>Should I use a toner every day? </summary>
            <p class="text">Yes, it is ideal to use a toner every day, at least once a day. </p>
        </details>
        <details>
            <summary>What does simple face toner do?  </summary>
            <p class="text">Our soothing facial toner helps keep skin toned and refreshed.  </p>
        </details>
        <details>
            <summary>How much should I use? Can I use Micellar Water more than once a day? </summary>
            <p class="text">Start with one cotton pad and apply a generous amount. It’s quite common to use two cotton pads; 
                some Micellar Water lovers use a cotton pad for either side<br>of the face, while some use one after the other 
                to achieve that thorough cleanse. 
            </p>
        </details>
        <details>
            <summary>Can I use Toner and Micellar Water if I have sensitive skin? </summary>
            <p class="text">Yes, our Simple Soothing Toner and Simple Micellar Cleansing Water is designed for sensitive skin and 
                loved by all skin types. We make sure to use only our purest<br>possible ingredients, so they are not only effective, 
                but also also gentle and kind to skin, making it perfect for sensitive skin. 
            </p>
        </details>
        <details>
            <summary>How does Micellar Water fit into my daily skin care regime? </summary>
            <p class="text">You can use Simple® Micellar Cleansing Water as your daily cleanser. The only difference is that there’s 
                no need to rinse after you use it. You can use it as a first<br>step, to gently cleanse and remove make-up. Alternatively, 
                you can also use it after washing your face with facial wash to give your skin a thorough cleanse. After<br>use, you can 
                continue with your usual skin care regime (i.e., tone & moisturise).  
            </p>
        </details>
        <details>
            <summary>How is Micellar Water different from oil-based make-up removers? </summary>
            <p class="text">Oil-based make-up removers are known for their effectiveness in dissolving and removing make-up, but not 
                particularly known for being kind on skin. Micellar<br>Water, on the other hand, is a relatively new format in make-up 
                removal that is known for its mild and gentle formulation, making it the perfect make-up removal<br>format for sensitive skin 
            </p>
        </details>
    </div>
    
</div>

<div class="footer">
    <app-footer></app-footer>
</div>