<div class="body">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
    
            <div class="slide first">
                <a routerLink="serums" routerLinkActive="active"><img src="assets\image\slider-1.jpg"></a>
            </div>
            <div class="slide">
                <a routerLink="bestsellers" routerLinkActive="active"><img src="assets\image\slider-2.jpg"></a>
            </div>
            <div class="slide">
                <a routerLink="bestsellers" routerLinkActive="active"><img src="assets\image\slider-3.jpg"></a>
            </div>
            <div class="slide">
                <a routerLink="bestsellers" routerLinkActive="active"><img src="assets\image\slider-4.jpg"></a>
            </div>
    
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>
    
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
    
    <div class="product-showcase-slider">
        <div class="product-showcase">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Bestsellers">
                    <app-bestsellers-show>
                    </app-bestsellers-show>
                </mat-tab>
                <mat-tab label="Serums">
                    <div class="product-cards">
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\serums-1-1.webp">
                                <img class="hover-img" src="assets\image\serums-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 10%<br>Vitamin C+E+F 30ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹540</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\serums-2-1.webp">
                                <img class="hover-img" src="assets\image\serums-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 10%<br>Hemp seed oil + B3 30ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹540</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\serums-3-1.webp">
                                <img class="hover-img" src="assets\image\serums-3-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹506</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="sold-out">Sold out</div>
                                <img src="assets\image\serums-4-1.webp">
                                <img class="hover-img" src="assets\image\serums-4-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 10%<br>Niacinamide 30ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹540</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="sold-out-btn">
                                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
                            </div>
                        </div>
                        <div class="product-card"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Cleansers">
                    <div class="product-cards">
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\cleansers-1-1.webp">
                                <img class="hover-img" src="assets\image\cleansers-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin Refreshing<br>Facial Wash 150 ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹375</s><b>₹300</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\cleansers-2-1.webp">
                                <img class="hover-img" src="assets\image\cleansers-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin<br>Moisturising Facial Wash<br>150ml
                            </div>
                            <div class="MRP">
                                MRP:<s>₹375</s><b>₹300</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\cleansers-3-1.webp">
                                <img class="hover-img" src="assets\image\cleansers-3-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Daily Skin Detox Clear<br>Pore Facial Scrub 150ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹425</s><b>₹340</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="sold-out">Sold out</div>
                                <img src="assets\image\cleansers-4-1.webp">
                                <img class="hover-img" src="assets\image\cleansers-4-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Daily Skin Detox<br>Purifying Facial Wash 150ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹425</s><b>₹375</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="sold-out-btn">
                                <a routerLink="/" routerLinkActive="active">SOLD OUT</a>
                            </div>
                        </div>
                        <div class="product-card"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Moisturisers">
                    <div class="product-cards">
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\moisturisers-1-1.webp">
                                <img class="hover-img" src="assets\image\moisturisers-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin Hydrating<br>Light Moisturiser 125ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹430</s><b>₹344</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\moisturisers-2-1.webp">
                                <img class="hover-img" src="assets\image\moisturisers-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin Protecting<br>Light Moisturiser 125ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹460</s><b>₹368</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\moisturisers-3-1.webp">
                                <img class="hover-img" src="assets\image\moisturisers-3-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin<br> Replenishing Rich Moisturiser<br>125ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹450</s><b>₹360</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\moisturisers-4-1.webp">
                                <img class="hover-img" src="assets\image\moisturisers-4-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Daily Skin Detox SOS<br> Clearing Booster 25ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹300</s><b>₹240</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        <div class="product-card"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Toner">
                    <div class="product-cards">
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\toner-1-1.webp">
                                <img class="hover-img" src="assets\image\toner-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 10%<br>Vitamin C+E+F 30ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹540</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save20%</div>
                                <img src="assets\image\toner-2-1.webp">
                                <img class="hover-img" src="assets\image\toner-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 10%<br>Hemp seed oil + B3 30ml 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹540</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\toner-3-1.webp">
                                <img class="hover-img" src="assets\image\toner-3-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹506</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\toner-4-1.webp">
                                <img class="hover-img" src="assets\image\toner-4-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Booster Serum - 3%<br>Hyaluronic Acid + B5 30ml  
                            </div>
                            <div class="MRP">
                                MRP:<s>₹675</s><b>₹506</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        <div class="product-card"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Wipes">
                    <div class="product-cards">
                        <div class="product-card">
                            <div class="product-image">
                                <img src="assets\image\wipes-1-1.webp">
                                <img class="hover-img" src="assets\image\wipes-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin Cleansing<br>Facial Wipes - 25 wipes 
                            </div>
                            <div class="MRP">
                                MRP:<b>₹325</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        
                        <div class="product-card">
                            <div class="product-image">
                                <img src="assets\image\wipes-2-1.webp">
                                <img class="hover-img" src="assets\image\wipes-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind To Skin Micellar<br>Cleansing Wipes - 25 wipes
                            </div>
                            <div class="MRP">
                                MRP:<s>₹350</s><b>₹280</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        <div class="product-card"></div>
                        <div class="product-card"></div>
                        <div class="product-card"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Combos">
                    <div class="product-cards">

                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\combos-1-1.webp">
                                <img class="hover-img" src="assets\image\combos-1-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind to Skin Refresh &<br> Hydrate Combo 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹805</s><b>₹603</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                        
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\combos-2-1.webp">
                                <img class="hover-img" src="assets\image\combos-2-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind to Skin Refreshing<br>Facial Wash (Pack of 2)
                            </div>
                            <div class="MRP">
                                MRP:<s>₹750</s><b>₹562</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\combos-3-1.webp">
                                <img class="hover-img" src="assets\image\combos-3-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind to Skin Moisturise<br>& Protect Combo 
                            </div>
                            <div class="MRP">
                                MRP:<s>₹835</s><b>₹626</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                
                        <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\combos-4-1.webp">
                                <img class="hover-img" src="assets\image\combos-4-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind to Skin<br>Moisturising Facial Wash<br>Combo (Pack of 2)  
                            </div>
                            <div class="MRP">
                                MRP:<s>₹750</s><b>₹563</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                         <div class="product-card">
                            <div class="product-image">
                                <div class="offer">Save25%</div>
                                <img src="assets\image\combos-5-1.webp">
                                <img class="hover-img" src="assets\image\combos-5-2.webp">
                            </div>
                            <div class="product-title">
                                Simple Kind to Skin Double<br> Cleanse Combo
                            </div>
                            <div class="MRP">
                                MRP:<s>₹800</s><b>₹600</b>
                            </div>
                            <div class="rating-stars">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                            <div class="add-to-cart">
                                <a routerLink="/" routerLinkActive="active">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="All Products">
                    <ng-image-slider 
                        [slideImage]="bestSellers1" 
                        [imageSize]="{width: 250, height: 450, space: 10}"
                        [infinite]="true"
                        [animationSpeed]="0.3"
                        [lazyLoading]="true"
                        [slideImage]="2"
                    #nav>
                    </ng-image-slider>
                </mat-tab>
            </mat-tab-group>
              
        </div>
        <div class="all-products-btn">
            <a routerLink="demo" routerLinkActive="active">ALL PRODUCTS</a>
        </div>
    </div>

    <div class="page-text1">
        <div class="page-text1-1">Our products are transparent about </div>
        <div class="page-text1-2">what goes in, what stays out and </div>
        <div class="page-text1-3">how it works on skin</div>
    </div>

    <div class="hover-stickers">
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                hypoallergic
            </div>
            <div class="overlay">
                Unlikely to<br>cause an allergic<br>reaction 
            </div>
        </div>
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                non comedogenic
            </div>
            <div class="overlay">
                Unlikely to<br>cause<br>pore-blockages<br>& breakouts
            </div>
        </div>
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                peta certified<br>
                cruelty free
            </div>
            <div class="overlay">
                Not tested on<br>animals, and no<br>animal-derived<br>ingredients
            </div>
        </div>
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                dermatologically<br>
                tested
            </div>
            <div class="overlay">
                Tested and<br>approved by<br>dermatologists
            </div>
        </div>
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                sensitive skin tested
            </div>
            <div class="overlay">
                tested for<br>even the<br>most sensitive skin
            </div>
        </div>
        <div class="hover-sticker">
            <div class="sticker">

            </div>
            <div class="text">
                clean beauty
            </div>
            <div class="overlay">
                Absolutely transparent<br>about what goes in, and<br>what stays out
            </div>
        </div>
    </div>
    
    <div class="page-text2">
        <div class="page-text2-1">We Believe in </div>
        <div class="page-text2-2">Kindness</div>
    </div>

    <div class="kind">
        <div class="kind-card">
            <div class="kind-card-img">
                <img src="assets\image\kind-1.webp">
            </div>
            <div class="kind-heading">kind to skin </div>
            <div class="kind-content">Free from 2000+<br>harsh chemicals</div>
        </div>
        <div class="kind-card">
            <div class="kind-card-img">
                <img src="assets\image\kind-2.webp">
            </div>
            <div class="kind-heading">kind to planet </div>
            <div class="kind-content">Recycle ready<br>packs</div>
        </div>
        <div class="kind-card">
            <div class="kind-card-img">
                <img src="assets\image\kind-3.webp">
            </div>
            <div class="kind-heading">kind to animals</div>
            <div class="kind-content">Peta certified<br>cruelty free</div>
        </div>
    </div>

    <div class="page-text3">
        <div class="page-text2-1">our roots to </div>
        <div class="page-text2-2">Kindness</div>
    </div>

    <div class="born-1960">
        <img src="assets\image\born-1960.png">
    </div>

    <div class="page-text4">
        awards & felicitations 
    </div>

    <div class="awards">
        <img src="assets\image\award-felicitations.png">
    </div>

    <div class="page-text5">
        follow us 
    </div>

    <div class="social-media-links">
        <div>
            <a href="https://www.instagram.com/simpleskincareindia/">
                <img src="assets\image\insta-logo.jpg">
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/Simple-Skincare-India-665506817178473/">
                <img src="assets\image\fb-logo.jpg">
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCzJfJLTsmRFcAwy7bk4o6pw">
                <img src="assets\image\yt-logo.jpg">
            </a>
        </div>
    </div>

    <div class="insta-posts-slider">
        <ng-image-slider 
            [images]="imgCollection" 
            [imageSize]="{width: 250, height: 250, space: 10}"
            [infinite]="true"
            [animationSpeed]="0.3"
            [lazyLoading]="true"
            [slideImage]="2"
             #nav>
        </ng-image-slider>
    </div>

    <div class="page-text6">
        <p>what customers are saying...</p>
    </div>

    <div class="customer-feedbacks">
        <div class="feedback-card">
            <div class="image">
                <img src="assets\image\feedback-1.webp">
            </div>
            <div class="feedback">
                <div class="feedback-content">
                    "Simple products have no<br>color, No fragrance, No<br>parabens, No alcohol and<br>
                    these are the things that<br>make a huge difference. It<br>works perfectly on my skin.<br>Absolutely love Simple
                    <br>Skincare."
                </div>
                <div class="feedback-name">Krupali, Digital Marketer</div>
            </div>
        </div>
        <div class="feedback-card">
            <div class="image">
                <img src="assets\image\feedback-2.webp">
            </div>
            <div class="feedback">
                <div class="feedback-content">
                    "I really love using simple<br>skincare products. My go<br>to is their moisturiser and
                    <br>cleansing wipes. Best part<br>about this brand is that its<br>good for even sensitive skin<br>
                    like mine. And it works<br>wonders for my skin."
                </div>
                <div class="feedback-name">Vidushi, Stylist</div>
            </div>
        </div>
        <div class="feedback-card">
            <div class="image">
                <img src="assets\image\feedback-3.webp">
            </div>
            <div class="feedback">
                <div class="feedback-content">
                    "I really like Simple as its<br>chemical free and<br>fragrance free. It does the<br>job very well by giving
                    <br>instant results. I’ve been<br>using Simple’s face wash<br>and micellar cleansing<br>wipes daily."
                </div>
                <div class="feedback-name">Harshada, Model</div>
            </div>
        </div>
    </div>

    <div class="page-text7">
        Want Skincare Tips? 
    </div>

    <div class="blogs-slider">
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-1-1.jpg">
            </div>
            <div class="card-title">
                Dark circles? Find out how<br>you can care for your under...
            </div>
            <div class="card-text">
                There is no doubt that majority of us have<br>frantically looked for solutions for how to<br>get rid of dark...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-1-2.jpg">
            </div>
            <div class="card-title">
                Love the sun but not the tan?<br>Here’s what you do 
            </div>
            <div class="card-text">
                There is no better way to get our required<br>dose of Vitamin D than basking in the sun!<br>But long...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
        <div class="blog-card">
            <div class="card-img">
                <img src="assets\image\skincare-1-3.jpg">
            </div>
            <div class="card-title">
                Facewash or Soap? Let’s see<br>how facial cleansing is done... 
            </div>
            <div class="card-text">
                One of the first things we learned about<br>face care was never to apply soap and to<br>use only face...
            </div>
            <div class="read-more-btn">
                <a routerLink="...">Read now ></a>
            </div>
        </div>
    </div>

    <div class="all-blogs-btn">
        <a routerLink="skincare-tips" routerLinkActive="active">ALL BLOGS</a>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>

