
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Century Gothic",sans-serif;
}

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;;
}
.slide img {
    width: 100%;
    height: 400px;
}

.navigation-manual {
   position: absolute;
   width: 100%; 
   margin-top: 10px;
   display: flex;
   justify-content: center;
}
.manual-btn {
    border: 2px solid #223a15;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background: #223a15;
}

#radio1:checked ~ .first {
    margin-left: 0;
    background: #223a15;
}
#radio2:checked ~ .first {
    margin-left: -20%;
    background: #223a15;
}
#radio3:checked ~ .first {
    margin-left: -40%;
    background: #223a15;
}
#radio4:checked ~ .first {
    margin-left: -60%;
    background: #223a15;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 410px;
    margin-left: 360px;
}
.navigation-auto div {
    transition: 1s;
    border: 2px solid #223a15;
    padding: 2px;
    border-radius: 10px;
}
.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #223a15;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #223a15;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #223a15;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #223a15;
}


.product-showcase-slider {
    width: 80%;
    height: 600px;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-showcase-slider .product-showcase {
    width: 100%;
    height: 550px;
    border: 1px solid black;
}
.product-showcase-slider .product-showcase mat-tab-group {
    width: 100%;
}
.product-showcase-slider .product-showcase mat-tab-group mat-tab ng-image-slider {
    margin-top: 20px;
}
mat-card {
    width: 200px;
    height: 500px;
}

.product-showcase-slider .all-products-btn {
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #046a38;
}    
.product-showcase-slider .all-products-btn a{
    margin: auto;
    text-decoration: none;
    color: white;
}

.page-text1 {
    height: 150x;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-text1-1 {
    font-style: italic;
    font-size: 60px;
    line-height: 85px;
    font-weight: 400;
    color: #176938;
    text-transform: lowercase;
}
.page-text1-2 {
    background: #fd8a99;
    color: #fff;
    padding: 3px 10px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 55px;
    text-transform: lowercase;
}
.page-text1-3 {
    margin-top: 5px;
    background: #fd8a99;
    color: #fff;
    padding: 3px 10px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 55px;
    text-transform: lowercase;
}

.hover-stickers {
    width: 80%;
    height: 400px;
    margin-top: 10px;
    background-color: #f8fcf1;
    display: flex;
    flex-flow: row wrap ;
}
.hover-stickers .hover-sticker {
    width: 33%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-stickers .hover-sticker .text {
    color: #176938;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.hover-stickers .hover-sticker .overlay {
    color: #82bb01;
    font-size: 18px;
    font-weight: bolder;
    position: absolute; 
    opacity: 0;
    transition: opacity 0.1s ;
    cursor: pointer;
    text-align: center;
}
.hover-stickers .hover-sticker:hover .overlay {
    position: absolute;
    opacity: 1;
    background-color: #f8fcf1;
    width: 300px;
    display:block;
    z-index: 999;
    opacity: 1;
    transform: scale(1.2);
}
.child img {
    position: relative;
    object-fit: cover;
    height: 200px;
    width: 300px;
    display: block;
    transition: all 0.2s ease-in-out 0s;
    opacity: 1;
    border-radius: 10px;
  }


.page-text2 {
    margin-top: 5px;
    height: 150x;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-text2-1 {
    background: #fd8a99;
    color: #fff;
    padding: 3px 10px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 55px;
    text-transform: lowercase;
}
.page-text2-2 {
    font-style: italic;
    font-size: 60px;
    line-height: 85px;
    font-weight: 400;
    color: #176938;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.page-text3 {
    margin-top: 40px;
    height: 150x;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.born-1960 {
    width: 80%;
    height: 550px;
}
.born-1960 img{
    width: 100%;
    height: 550px;
} 

.page-text4 {
    font-style: italic;
    margin-top: 20px;
    width: 95%;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    color: #176938;
    font-size: 60px;
}

.kind {
    width: 80%;
    height: 230px;
    background-color: #f8fcf1;
    display: flex;
    flex-direction: row;
}
.kind .kind-card {
    width: 33%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kind .kind-card .kind-card-img {
    height: 80px;
    width: 80px;
}
.kind .kind-card .kind-card-img img {
    height: 80px;
    width: 80px;
}
.kind .kind-card .kind-heading {
    color: #176938;
    margin-top: 5px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.kind .kind-card .kind-content {
    color: #82bb01;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.awards {
    width: 80%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.awards img{
    margin-top: 30px;
    height: 250px;
    width: 500px;
}

.page-text5 {
    font-style: italic;
    margin-top: 20px;
    width: 80%;
    height: 60px;
    text-align: center;
    color: #176938;
    font-size: 60px;
}
.social-media-links {
    margin-top: 10px;
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social-media-links div img{
    margin-left: 10px;
    height: 70px
}

.insta-posts-slider {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    margin-top: 20px;
}

.page-text6{
    margin-top: 20px;
    height: 60px;
    border-bottom: 1px solid #176938;
}
.page-text6 p{
    margin-top: 10px;
    background: #84bd00;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}

.customer-feedbacks {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.customer-feedbacks .feedback-card {
    width: 34%;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.customer-feedbacks .feedback-card .image {
    width: 30%;
    height: 100px;
    margin-top: 25px;
    margin-left: 15px;
}
.customer-feedbacks .feedback-card .image img{
    width: 100px;
    height: 100px;
    border-radius: 120px;
}
.customer-feedbacks .feedback-card .feedback {
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.customer-feedbacks .feedback-card .feedback .feedback-content {
    font-family: "Century Gothic",sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 1.6;
}
.customer-feedbacks .feedback-card .feedback .feedback-name {
    margin-top: 30px;
    margin-left: 20px;
    color: #046a38;
    font-style: italic;
    font-weight: bold;
}

.page-text7 {
    margin-top: 10px;
    color: #046a38;
    width: 80%;
    height: 70px;
    border-top: 1px solid #046a38;
    border-bottom: 1px solid #046a38;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs-slider {
    margin-top: 20px;
    width: 85%;
    height: 490px;
    display: flex;
    flex-direction: row;
}
.blogs-slider .blog-card {
    width: 390px;
    height: 470px;
    margin-top: 10px;
    margin-left: 30px;
}
.blogs-slider .blog-card .card-img {
    width: 100%;
    height: 230px;
}
.blogs-slider .blog-card .card-img img{
    width: 100%;
    height: 230px;
    transition: all 0.3s ease-in-out 0.2s
}
.blogs-slider .blog-card .card-img img:hover {
    position: relative;
    width: 100%;
    height: 230px;
    display:block;
    z-index: 999;
    transform: scale(1.1);
}
.blogs-slider .blog-card .card-title{
    margin-top: 20px;
    text-align: center;
    color: #84bd00;
    font-size: 23px;
    font-weight: bold;
}
.blogs-slider .blog-card .card-text{
    margin-top: 15px;
    line-height: 1.5;
    margin-left: 15px;
    font-size: 17px;
}
.blogs-slider .blog-card .read-more-btn {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    text-align: center;
}
.blogs-slider .blog-card .read-more-btn a {
    font-size: 15px;
    font-weight: bold;
    color: #046a38;
    text-decoration: none;
}


.all-blogs-btn {
    border: 1px solid black;
    width: 180px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #046a38;
    border-radius: 5px;
}    
.all-blogs-btn a{
    margin: auto;
    text-decoration: none;
    color: white;
}



.product-cards {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.product-cards .product-card {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 420px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-cards .product-card .product-image {
    width: 90%;
    height: 250px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.product-cards .product-card .product-image img{
    width: 100%;
    height: 100%;
    transition: all linear 0.5s;
}
.product-cards .product-card .product-image img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.product-cards .product-card .product-image:hover img {
    opacity: 0;
}
.product-cards .product-card .product-image:hover img.hover-img {
    opacity: 1;
    transform: scale(1.2);
}


.product-cards .product-card .product-image .offer {
    width: 60px;
    height: 15px;
    font-size: 15px;
    color: #ffff;
    background-color: #fd8a99;
}
.product-cards .product-card .product-image .sold-out {
    width: 55px;
    height: 15px;
    font-size: 15px;
    color: #ffff;
    background-color: #046a38;
}

.product-cards .product-card .product-title {
    margin-top: 20px;
    width: 90%;
    height: 40px;
}
.product-cards .product-card .MRP {
    width: 90%;
    height: 30px;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.product-cards .product-card .MRP s {
    opacity: 0.7;
}
.product-cards .product-card .rating-stars {
    width: 90%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rating-stars > input{
    display:none;
}
.rating-stars > label {
   position: relative;
   width: 1.1em;
   font-size: 22px;
   color: black;
   cursor: pointer;
}
.rating-stars > label::before{
   content: "\2605";
   position: absolute;
   opacity: 0;
}
.rating-stars > label:hover:before,
.rating-stars > label:hover ~ label:before {
   opacity: 1 !important;
}
.rating-stars > input:checked ~ label:before{
   opacity:1;
}
.rating-stars:hover > input:checked ~ label:before{ 
   opacity: 0.4;
}

.product-cards .product-card .add-to-cart {
    width: 90%;
    margin-top: 15px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #046a38;
}
.product-cards .product-card .add-to-cart:hover {
    opacity: 0.8;
}
.product-cards .product-card .add-to-cart a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.product-cards .product-card .sold-out-btn {
    width: 90%;
    margin-top: 15px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #919697;
}
.product-cards .product-card .sold-out-btn:hover {
    opacity: 0.8;
}
.product-cards .product-card .sold-out-btn a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
